
#-- rename this file to ".env" to load private development props that will supersede
#-- configuration from sys props, env vars and inversion.properties files 
#-- 
#-- ".env" is in .gitignore intentionally to keep you from loading secrets into git
#--
#-- @see https://inversion-api.github.io/inversion-engine/javadoc/io/inversion/utils/Config.html
#-- @see https://inversion-api.github.io/inversion-engine/javadoc/io/inversion/utils/Configurator.html

#-- Uncomment the following block of properties to wire up the default demo
#db.class=io.inversion.jdbc.JdbcDb
#db.url=jdbc:h2:mem:northwind;DB_CLOSE_DELAY=-1
#db.user=sa
#db.pass=
#db.ddlUrls=io/inversion/jdbc/northwind-h2.ddl